* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 40px;
  line-height: 1.5;
  color: #606c71; 

}

.page-header{

  background-image: url("../images/treesBG.jpg");
  background-color: green;



}


